.card {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(23, 43, 77, 0.25), 0 0 1px 0 rgba(23, 43, 77, 0.24);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: none;
}
